<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>Contact Us - Terrain Generator</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
    <!-- Header Section -->
    <div class="header_section">
        <div class="header_main">
            <div class="mobile_menu">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="logo_mobile">
                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('guide') }}">Guide</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('play') }}">Play</a></li>
                            <li class="nav-item active"><a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a></li>
                            <li class="nav-item"><a href="{{ url_for('download') }}">Download</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="container-fluid">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo"></a>
                </div>
                <div class="menu_main">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('guide') }}">Guide</a></li>
                        <li><a href="{{ url_for('play') }}">Play</a></li>
                        <li class="active"><a href="{{ url_for('contact') }}">Contact us</a></li>
                        <li><a href="{{ url_for('download') }}">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="background_bg">
        <div class="contact_section layout_padding">
            <div class="container">
                <h1 class="watchs_taital">04<br>Get In Touch</h1>
                <p class="contact_description">We would love to hear from you! Whether you have questions, suggestions, or need support, please reach out to us.</p>
            </div>
            <div class="contact_section_2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{{ url_for('contact') }}" method="POST" class="mail_section_1">
                                <input type="text" class="mail_text" placeholder="Your Name" name="name" required>
                                <input type="text" class="mail_text" placeholder="Phone Number" name="phone">
                                <input type="email" class="mail_text" placeholder="Email" name="email" required>
                                <textarea class="massage-bt" placeholder="Your Message" rows="5" name="message" required></textarea>
                                <button type="submit" class="send_bt">Send Message</button>
                            </form>                            
                        </div>
                        <div class="col-md-6 padding_right_0">
                            <div class="map_section">
                                <img src="{{ url_for('static', filename='images/map-img.png') }}" alt="Map Location">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer_section layout_padding">
        <div class="container">
            <h3 class="follow_text">Follow Now</h3>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="{{ url_for('static', filename='images/fb-icon.png') }}" alt="Facebook"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.png') }}" alt="Twitter"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">© 2024 Terrain Generator. All Rights Reserved.</p>
        </div>
    </div>

    <!-- JavaScript Files -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>
